//-----------------------------------------
//             BCCForm Ver 2.41
//    An Easy Resource Editor for BCC
//  Copyright (c) February 2002 by ysama
//-----------------------------------------
#include	"ResEffectDialog.h"

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_DIST)
//----------------------------------
DLG_DIST DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Distotion"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "LEVEL", DIST_LABEL_LEVEL, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "GAIN", DIST_LABEL_GAIN, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 36, 60, 21
 CONTROL "0", DIST_LEVEL, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", DIST_GAIN, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 36, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "CANCEL", DIST_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
 CONTROL "OK", DIST_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_OD)
//----------------------------------
DLG_OD DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Over Drive"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "LEVEL", OD_LABEL_LEVEL, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "GAIN", OD_LABEL_GAIN, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 36, 60, 21
 CONTROL "0", OD_LEVEL, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", OD_GAIN, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 36, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "CANCEL", OD_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
 CONTROL "OK", OD_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_DELAY)
//----------------------------------
DLG_DELAY DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Delay"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "DELAY TIME", DELAY_LABEL_TIME, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "FEEDBACK", DELAY_LABEL_FEEDBACK, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 36, 60, 21
 CONTROL "0", DELAY_TIME, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", DELAY_FEEDBACK, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 36, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "OK", DELAY_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
 CONTROL "CANCEL", DELAY_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_COLAS)
//----------------------------------
DLG_COLAS DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Colas"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "COLAS TIME", COLAS_LABEL_TIME, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "0", COLAS_TIME, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "OK", COLAS_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
 CONTROL "CANCEL", COLAS_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_REVERB)
//----------------------------------
DLG_REVERB DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Reverb"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "TIME", LABEL_TIME, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "MIX", LABEL_MIX, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 36, 60, 21
 CONTROL "0", REVERB_TIME, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "0", REVERB_MIX, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 36, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "CANCEL", REVERB_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
 CONTROL "OK", REVERB_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_VIB)
//----------------------------------
DLG_VIB DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Vibrate"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "Rate", VIB_LABEL_TIME, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "0", VIB_TIME, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "OK", VIB_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
 CONTROL "CANCEL", VIB_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
}

//----------------------------------
// É_ÉCÉAÉçÉO (DLG_COMP)
//----------------------------------
DLG_COMP DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Complesser"
FONT 8, "ÇlÇr ñæí©"
{
 CONTROL "Level", COMP_LABEL, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY | SS_CENTERIMAGE, 9, 9, 60, 21
 CONTROL "0", COMP_LEVEL, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_RIGHT | ES_OEMCONVERT, 78, 9, 66, 15, WS_EX_DLGMODALFRAME
 CONTROL "OK", COMP_OK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 168, 153, 45, 15
 CONTROL "CANCEL", COMP_CANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | BS_CENTER | BS_VCENTER, 216, 153, 45, 15
}