#include"resource.h"

MYMENU MENU
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM "Open",		IDM_OPEN
		MENUITEM "Save",		IDM_SAVE
		MENUITEM SEPARATOR	
		MENUITEM "Exit",		IDM_END
	END
	
	POPUP "Edit"
	BEGIN
		MENUITEM "Undo",		IDM_UNDO
	        MENUITEM "Reload",		IDM_RELOAD
	END
	
	POPUP "Sound"
	BEGIN
		MENUITEM "Original sound",	IDM_ORIGNPLAY
		MENUITEM "Effect sound",	IDM_EFFPLAY
		MENUITEM SEPARATOR
		MENUITEM "Stop",		IDM_STOP
	END
	
	POPUP "Effect"
	BEGIN
		MENUITEM "Distotion",		IDM_DIST_1
		MENUITEM "Overdrive",		IDM_OD
		MENUITEM SEPARATOR
		MENUITEM "Delay",		IDM_DELAY_1
		MENUITEM "Chorus",		IDM_COLAS_1
		MENUITEM "Reverb",		IDM_REVERB_1
		MENUITEM SEPARATOR
		MENUITEM "Vibrate",		IDM_VIBRATE
		MENUITEM "Compresser",		IDM_COMP
		MENUITEM SEPARATOR
		MENUITEM "Robot",		IDM_ROBO
	END
	
	POPUP "Help"
	BEGIN
		MENUITEM "About",		IDM_HELP
		MENUITEM "HP Link"		IDM_HPLINK
	END
END